.git
.github
.gitmodules
.env
.env.example
.actrc
.editorconfig
README.md
.devcontainer
build
.dockerignore
dottod/.git
dottod/docs
dottod/tests
dottod/specs
dottod/contracts
dottod/CHANGELOG.md
dottod/README.md
dottod/Containerfile
